body {
    margin: 0;
}


/* ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

li {
    height: 40vh;
    flex-grow: 1;
    list-style-type: none;
    padding: 5px;
}

img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

li:last-child {
    flex-grow: 10;
}

@media (max-height: 480px) {
    li {
        height: 80vh;
    }
} */

.grid {
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap: 5px;
    -moz-column-count: 5;
    -moz-column-gap: 5px;
    column-count: 5;
    column-gap: 5px;
}

.grid .img img {
    width: 100% !important;
    height: auto !important;
}

@media (max-width: 1200px) {
    .grid {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media (max-width: 1000px) {
    .grid {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 800px) {
    .grid {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 400px) {
    .grid {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}